In [1]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.6     v dplyr   1.0.2
v tidyr   1.1.2     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.0

Warning message:
"package 'tibble' was built under R version 4.0.3"
Warning message:
"package 'tidyr' was built under R version 4.0.3"
Warning message:
"package 'readr' was built under R version 4.0.3"
Warning message:
"package 'dplyr' was built under R version 4.0.3"
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [8]:
data.frame(x = 0:10) %>%
    mutate(group = cut(x, c(-1,1,3,4,8,11), c(1,2,3,4,5)))

   x  group
1   0 1
2   1 1
3   2 2
4   3 2
5   4 3
6   5 4
7   6 4
8   7 4
9   8 4
10  9 5
11 10 5